* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-shadow: #070707;
}

body {
    background-color: linear-gradient(135deg, #ece9e6, #ffffff);
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: multiply;
}


.container {
    margin: auto;
    display: grid;
    grid-template-columns: 0.33fr 1fr;
    width: 210mm;
    height: 297mm;
    overflow: hidden;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.7);
    border-radius: 12px;
    background: white;
}

.container .card-one {
    padding: 40px 20px;
    padding-left: 35px;
    background-color: #d1d1d1;
    width: 100%;
    color: #313131;
    border-radius: 8px 0 0 8px;
}

.container .card-one .profile {
    display: inline-flex;
    margin-bottom: 5px;
    margin-left: -15px;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    border: 5px solid #313131;
    background-image: url("prof.jpg");
    background-position: center;
    background-size: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.container .card-one .contact-box {
    margin-top: 20px;
}

.container .card-one .contact-box>* {
    width: 100%;
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    margin-top: 25px;
    align-items: center;
    transition: color 0.3s ease-in-out;
}

.container .card-one .contact-box>*:hover .text {
    color: #f906d5;
}

.container .card-one .languages-box {
    margin-top: 40px;
}

.container .card-one .languages-box .p{
    font-weight: 400;
    margin-bottom: 5px;
}

.container .card-one .languages-box .div{
    display: inline-flex;
}

.container .card-one .languages-box .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #070707;
    border-radius: 50%;
    margin-left: 2px;
}

.container .card-one .languages-box .dot.active {
    background-color: rgb(87, 83, 91);
}

.container .card-one .hobbies-box {
    margin-top: 35px;
}

.container .card-one .hobbies-box .logo {
    margin: 10px 0px;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    font-size: 2.2em;
    grid-row-gap: 10px;
}

.container .card-two {
    background-color: #A9A9A9;
    padding: 40px 20px;
    padding-right: 75px;
    color: #343030;
    border-radius: 0 8px 8px 0;
}

.container .card-two .head-title {
    font-size: 2.0em;
    font-weight: 200;
    text-shadow: #321c1c;
    font-style: initial;
    color: rgb(64, 51, 51);
    font-weight: 400;
    margin-left: -18px;
    margin-top: -15px;
    padding: 0;
    line-height: 1.2;
    margin-bottom: 10px;
}

.container .card-two .student-title {
    margin-top: -1px;
    margin-left: -18px;
    font-size: 0.40em;
}

.container .card-two .box {
    display: inline-block;
    padding: 10px; /* Increased padding for more space */
    width: calc(100% - 40px); /* Adjust width to fill available space */
    margin-left: -20px;
    margin-top: 10x;
    background-color: #757070;
    border-radius: 8px;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.2);
}

.container .card-two .group-1 {
    margin-top: 10px;
    line-height: 1.5;
}

.container .card-two .group-2 .desk {
    margin-top: -4px;
    margin-left: 10px;
}

.container .card-two .group-2 .desk ul {
    position: relative;
    margin-top: 10px;
    margin-left: 5px;
}

.container .card-two .group-2 .desk ul::before {
    content: "";
    position: absolute;
    top: 12px;
    left: -22px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(91, 73, 73);
}

.container .card-two .group-2 .desk ul li {
    list-style-type: none;
    position: relative;
}

.container .card-two .group-2 .desk ul li::before {
    content: "";
    position: absolute;
    top: 12px;
    left: -18px;
    height: 60px;
    border-left: 2px solid;
}

.container .card-two .group-2 .desk ul:last-of-type li::before {
    content: none;
}

.container .card-two .group-2 .desk ul li div:last-of-type {
    color: rgb(52, 93, 124);
}

.container .card-two .skills-box {
    margin-top: 4px;
    padding-left: 10px;
}

.container .card-two .skills-box .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #252222;
    border-radius: 50%;
    margin-left: 2px;
    margin-top: -3px;
}

.container .card-two .skills-box .dot.active {
    background-color: rgb(87, 83, 91);
}

.container .card-two .personal-skills-box {
    margin-top: 5px;
    padding-left: 10px;
}

.container .card-two .personal-skills-box .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #070707;
    border-radius: 50%;
    margin-top: -4px;
    margin-left: 2px;
}

.container .card-two .personal-skills-box .dot.active {
    background-color: rgb(87, 83, 91);
}
