* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgb(172, 137, 137);
}

.container {
    margin: auto;
    display: grid;
    grid-template-columns: 0.33fr 1fr;
    width: 210mm;
    height: 297mm;
    overflow:hidden;
    box-shadow: 2px 2px 20px rgb(0, 0, 0, 0.7);
}

.container .card-one {
    padding: 40px 20px;
    padding-left: 35px;
    background-color: #d1d1d1;
    width: 100%;
    color: #313131;
}